html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    background-image: url("../images/bg.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

/* 登录页 */

.loginContainer {
    margin-top: 33vh;
}

/* 主页 */

/* HomeHeader */

.HeaderContainer {
    height: 8vh !important;
    padding: 0 2em 0 2em !important;
    width: 100% !important;
}

.HeaderImage {
    margin-right: 1.5em !important;
}

.HeaderMessageContainer {
    margin: 2vh !important;
    padding: 0 1em 0 1em !important;
    width: 100% !important;
}

/* HomeBody */

.BodyGrid {
    height: 80vh !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

/* TaskWrap */

.TaskContainer {
    margin-top: .25em !important;
    padding: 0 .5em 0 1em !important;
}

.TaskSegment {
    height: 73.5vh !important;
    overflow-y: scroll !important;
}

.TaskField {
    height: 34vh !important;
    resize: none !important;
}

/* ListWrap */

.ListContainer {
    margin: .25em 0 0 0 !important;
    padding: 0 .5em 0 1em !important;
}

.ListSegment {
    height: 73.5vh !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

.ListDateField {
    min-width: 5em !important;
}

/* ProfileWrap */

.ProfileContainer {
    margin-top: .25em !important;
    padding: 0 1em 0 1em !important;
}

.ProfileSegment {
    height: 73.5vh !important;
    overflow-y: scroll !important;
}

.ProfileForm {
    margin-top: 3em !important;
}

.profileMinWidthInput {
    min-width: 10px;
}

/* GuideWrap */

.GuideContainer {
    margin-top: .25em !important;
    padding: 0 .5em 0 1em !important;
}

.GuideSegment {
    height: 73.5vh !important;
    overflow-y: scroll !important;
}

.GuideHeader {
    margin: 0 0 1em 0 !important;
}

/* IndexFooter */

.FooterSegment {
    height: 10vh !important;
    bottom: 0 !important;
    width: 100% !important;
}

/* Teacher */

/* WorkshopBody */

.WorkshopContainer {
    margin-top: .25em !important;
    width: 100% !important;
    padding: 0 1em 0 1em !important;
}

.WorkshopSegment {
    min-height: 40em !important;
    max-height: 40em !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

.WorkshopDateField {
    min-width: 5em !important;
}

.WorkshopTable {
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

/* StatisticsBody */

.StatisticsContainer {
    margin-top: .25em !important;
    width: 100% !important;
    padding: 0 1em 0 1em !important;
}

.StatisticsSegment {
    min-height: 40em !important;
    max-height: 40em !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

.StatisticsDateField {
    min-width: 5em !important;
}

.StatisticsTable {
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

/* HistoryBody */

.HistoryContainer {
    margin-top: .25em !important;
    width: 100% !important;
    padding: 0 1em 0 1em !important;
}

/* CodeContent */

.CodeContent {
    resize: none !important;
}

/* DatePicker */

.react-datepicker-wrapper {
    width: 100% !important;
}

.react-datepicker__input-container {
    width: 100% !important;
}